@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Fondo gris claro como en la imagen de referencia */
  @apply bg-zinc-300 text-rose-50 overflow-hidden h-screen w-screen flex items-center justify-center antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
