@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Fondo súper oscuro para que las "islas" resalten */
  @apply bg-[#0c0a0b] text-rose-50 overflow-hidden h-screen w-screen flex antialiased m-0 p-0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
